@model IEnumerable<MIS4200_Team13.Models.Scoreboard>

@{
    ViewBag.Title = "Index";
}

<h2 style="color:darkorange">Recognition Scoreboard</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*// Bootstrap//*@ 
@*<div class="container">
    <div class="row mt-20">
        <div class="col-md-12">
            <div class="progress skill-bar ">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"> <span class="skill"><i class="fa fa-star"></i> 5 Star <i class="val">25 reviews</i></span> </div>
            </div>
            <div class="progress skill-bar">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="29" aria-valuemin="0" aria-valuemax="100"> <span class="skill"><i class="fa fa-star"></i> 4 star<i class="val">3 reviews</i></span> </div>
            </div>
            <div class="progress skill-bar">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"> <span class="skill"><i class="fa fa-star"></i> 3 star<i class="val">34 reviews</i></span> </div>
            </div>
            <div class="progress skill-bar">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"> <span class="skill"><i class="fa fa-star"></i> 2 star<i class="val">1 review</i></span> </div>
            </div>
            <div class="progress skill-bar">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"> <span class="skill"><i class="fa fa-star"></i> 1 star<i class="val">10 reviews</i></span> </div>
            </div>
        </div>
    </div>
</div>*@

<table class="table">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.scoreBoardID }) |
                @Html.ActionLink("Details", "Details", new { id = item.scoreBoardID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.scoreBoardID })
            </td>
        </tr>
    }

</table>
