@{
    ViewBag.Title = "Contact Us";
}
<h3 style="color:rebeccapurple">@ViewBag.Title.</h3>

<h2 style="color: rebeccapurple">
    <address>
        Centric<br />
        1020 Dennison Ave, Columbus, OH 43201<br />
        <abbr title="Phone">P:</abbr>
        614.205.8112
    </address>
</h2>

<p><a class="btn btn-warning" href="https://centricconsulting.com/contact/">Contact Us! &raquo;</a></p>
        </div>

<div class="row">
      <div class="col-sm-4">
<div class="map-responsive">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12228.608001040713!2d-83.0083221!3d39.9827084!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7bb5736cf51c3732!2sCentric%20Consulting!5e0!3m2!1sen!2sus!4v1615929127822!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
</div>
    </div>
